## clean_economic_index_data

1. reads in economic index csv file
2. creates a year_month column for using as a key to join with other tables
3. saves data as a table in aws postgres database

In [19]:
import pandas as pd

In [20]:
filename='/home/jieliang/proj3/submission/data/economic_index.csv'
    
df = pd.read_csv(filename)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 2 columns):
DATE         332 non-null object
LOIAGRIDX    332 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.3+ KB

In [22]:
df

           DATE  LOIAGRIDX
0    1990-02-01       5.18
1    1990-03-01       3.38
2    1990-04-01       0.18
3    1990-05-01       1.60
4    1990-06-01       2.71
5    1990-07-01       4.66
6    1990-08-01       3.25
7    1990-09-01       0.08
8    1990-10-01       0.31
9    1990-11-01      -4.08
10   1990-12-01       1.26
11   1991-01-01      -1.21
12   1991-02-01      -1.02
13   1991-03-01       0.02
14   1991-04-01       1.23
15   1991-05-01       2.05
16   1991-06-01       4.65
17   1991-07-01       0.49
18   1991-08-01       1.94
19   1991-09-01       0.70
20   1991-10-01       1.52
21   1991-11-01       4.49
22   1991-12-01       4.04
23   1992-01-01       3.46
24   1992-02-01       2.56
25   1992-03-01       3.74
26   1992-04-01       2.55
27   1992-05-01       2.35
28   1992-06-01       1.54
29   1992-07-01       1.58
..          ...        ...
302  2015-04-01       0.02
303  2015-05-01       6.01
304  2015-06-01       5.10
305  2015-07-01       2.95
306  2015-08-01       4.88
307  2015-09-01       3.29
308  2015-10-01       2.82
309  2015-11-01       1.53
310  2015-12-01       2.63
311  2016-01-01       3.64
312  2016-02-01       3.47
313  2016-03-01       2.74
314  2016-04-01       3.07
315  2016-05-01       3.35
316  2016-06-01       4.86
317  2016-07-01       7.95
318  2016-08-01      -1.03
319  2016-09-01      -0.12
320  2016-10-01       0.78
321  2016-11-01       4.32
322  2016-12-01       5.03
323  2017-01-01       2.54
324  2017-02-01       1.56
325  2017-03-01       2.34
326  2017-04-01       1.51
327  2017-05-01       2.68
328  2017-06-01       0.85
329  2017-07-01       0.71
330  2017-08-01       5.61
331  2017-09-01       6.73

[332 rows x 2 columns]

In [23]:
df.DATE=df.DATE.apply(pd.to_datetime)

In [24]:
df['month']=df.DATE.dt.month

In [25]:
df['year']=df.DATE.dt.year

In [26]:
df.head()

        DATE  LOIAGRIDX  month  year
0 1990-02-01       5.18      2  1990
1 1990-03-01       3.38      3  1990
2 1990-04-01       0.18      4  1990
3 1990-05-01       1.60      5  1990
4 1990-06-01       2.71      6  1990

In [27]:
df.month.value_counts()

9     28
8     28
7     28
6     28
5     28
4     28
3     28
2     28
12    27
11    27
10    27
1     27
Name: month, dtype: int64

In [28]:
def to_year_month_string(year,month):
    y='y'
    m=''
    
    if month<10:
        m = '0'+str(month)
    else:
        m = str(month) 
        
    return y+'-'+'m'
        
df['year_month_index'] = df.apply(lambda row: str(row.year)+'-' + str(row.month), axis=1)

In [29]:
#df['year_month']

In [30]:
pd.Period('2011-1')

Period('2011-01', 'M')

In [31]:
df.head()

        DATE  LOIAGRIDX  month  year year_month_index
0 1990-02-01       5.18      2  1990           1990-2
1 1990-03-01       3.38      3  1990           1990-3
2 1990-04-01       0.18      4  1990           1990-4
3 1990-05-01       1.60      5  1990           1990-5
4 1990-06-01       2.71      6  1990           1990-6

In [33]:
df.LOIAGRIDX.value_co()

DATE                332
LOIAGRIDX           274
month                12
year                 28
year_month_index    332
dtype: int64

In [32]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql

from sqlalchemy import create_engine
import psycopg2 
import io


connection_args = {
    'host': '54.200.221.80', # current aws instance public IP
    'user': 'ubuntu',    
    'dbname': 'proj3',   
    'port': 5432         
}


connection = pg.connect(**connection_args)

In [15]:
cur = connection.cursor()

cur.execute("""CREATE TABLE economic_index (
  DATE                      TEXT,
  LOIAGRIDX                 REAL,
  month                     INT,
  year                      INT,
  year_month_index                TEXT
  
);""")

In [16]:
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'economic_index', null="") #null values become ''   
connection.commit()

In [17]:
df.shape

(332, 5)

In [18]:
#SELECT expenses.amount, economic_index.LOIAGRIDX FROM expenses, economic_index WHERE expenses.year_month = economic_index.year_month;